.action-item {
    margin-left: .5em;
    cursor: pointer;
    
}


.img-post{
    display: flex;
    padding: 1em;
    border-radius: 20px;
    
}

.box-post{
    display: flex;
    background-color: pink;
    border-radius: 1em;
    margin-bottom: 20px;
    font-size: 20px;
    overflow: hidden;
    -webkit-line-clamp: 3; /* กำหนดจำนวนบรรทัดที่ต้องการให้แสดง */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
  
  
  
    

    
}


.Username{
    font-family: "Ranchers", sans-serif;
    font-weight: 400;
    font-style: normal;
    

}

.comment{
    /* ให้ข้อความไม่เกินขอบ */
  overflow: hidden;
  -webkit-line-clamp: 3; /* กำหนดจำนวนบรรทัดที่ต้องการให้แสดง */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}

.fa-heart, .fa-heart-o{
    color: red;
    padding: 0.5em;
}

.likeCount{
    color: #000;
    text-decoration: none;
    padding: 0.5px;
}



